<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, Order.statuses.keys %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.select :product_id, Product.all.pluck(:name, :id) %>
  </div>

  <div>
    <%= form.label :client_id, style: "display: block" %>
    <%= form.select :client_id, Client.all.pluck(:name, :id) %>
  </div>

  <div>
    <%= form.label :company_id, style: "display: block" %>
    <%= form.select :company_id, Company.all.pluck(:name, :id) %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
