<p style="color: green"><%= notice %></p>

<h1>Pedidos</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <p>Nº do Pedido: #<%= order.id %> </p>
    <p>Status: <%= order.status %> </p>
    <p>Criado em: <%= formatter_date(order.created_at) %> </p>
    <p>Produto: <%= order.product.name %> </p>
    <p>Valor: <%= formatter_money(order.product.value) %> </p>
    <p>Cliente: <%= order.client.name %> </p>
    </div><br><br>
  <% end %>

<%= link_to "Criar Pedido", new_order_path %> | <%= link_to "Voltar", "/" %>
