<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Editar", edit_order_path(@order) %> |
  <%= link_to "Voltar", orders_path %> |
  <%= link_to "Excluir", @order, method: :delete %>
</div>
