<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Ownername:</strong>
    <%= company.ownername %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= company.cnpj %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= company.whatsapp %>
  </p>

  <p>
    <strong>Instagram link:</strong>
    <%= company.instagram_link %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= company.location %>
  </p>

</div>
