<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :ownername, style: "display: block" %>
    <%= form.text_field :ownername %>
  </div>

  <div>
    <%= form.label :cnpj, style: "display: block" %>
    <%= form.number_field :cnpj %>
  </div>

  <div>
    <%= form.label :whatsapp, style: "display: block" %>
    <%= form.number_field :whatsapp %>
  </div>

  <div>
    <%= form.label :instagram_link, style: "display: block" %>
    <%= form.text_field :instagram_link %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
